.card{
    margin: 5px;
    border: none;

}

.cardHeader{
    background-color: rgb(56, 54, 54); 
    color: white;
}

.cardBody{
    background-color: whitesmoke;  
    border-radius: 25px;
}

.cardText{
    color: black
} 

.Link{
    text-decoration: none;
}